@import '@/styles/commons.scss';

#header {
    width: 100%;
    background:$color-primary;
    display: flex;
    flex-direction: column;
    padding: get-vw(15px) get-vw(20px) get-vw(15px) get-vw(30px);
    gap: get-vw(22px);

    @include responsive() {
        padding: get-vw(30px, 'destock') get-vw(120px,'destock');
    }

    .section1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section2 {
        @include responsive() {
            display: none;
        }
    }

    .logo {
        position: relative;
        width: get-vw(68.67px);
        height: get-vw(32px);

        @include responsive() {
            width: get-vw(103px, 'destock');
            height: get-vw(48px, 'destock');

        }
    }

    .login {
        position: relative;
        display: none;

        @include responsive() {
            display: block;
            width: get-vw(38px, 'destock');
            height: get-vw(38px, 'destock');
        }
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 0;
        background: transparent;
        width: get-vw(32px);
        height: get-vw(20px);
        padding: 0;
        z-index: 200;

        @include responsive() {
            display: none;
        }

        div {
            background-color: black;
            height: get-vw(3px);
            width: 100%;
            border-radius: 20px;
            transition: all .5s;
            transform-origin: left;
        }
        div:nth-child(2) {
            width: 80%;
        }
        div:last-child {
            width: 50%;
        }
    }

    .burger.openMenu  {
        div {
            width: 75%;
        }
        div:first-child {
            transform: rotate(45deg);
        }
        div:nth-child(2) {
            opacity: 0;
        }
        div:last-child {
            transform: rotate(-45deg);
        }
    }

}

