$base-vw: (
  "desktop": 1440px,
  "mobile": 456px
) !default;


$breakpoints: (
  "mobile": 576,
  "tablet": 768,
  "desktop": 1200
) !default;


// CONVERT PX TO VW

@function get-vw($px-vw, $view: 'mobile')   {
    @return ($px-vw * 100vw) / map-get($base-vw, $view)
};

// RESPONSIVE

@mixin responsive($breakpoint: "mobile", $type: "min") {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $type == "min" {
      @media (min-width: map-get($breakpoints, $breakpoint) + "px") {
        @content;
      }
    } @else {
      @media (max-width: map-get($breakpoints, $breakpoint) - 1 + "px") {
        @content;
      }
    }
  }
};

// CENTER

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
};

@mixin skeleton {
  animation: skeleton 1.5s linear infinite;
  background: linear-gradient(45deg, $color-neutro-100, $color-neutro-200);
  border-radius: get-vw(5px);
  background-size: 400%;
};

@keyframes skeleton {
  0% {
    background-position: 0 50%;
    transform: scale(1);

  }
  50% {
    background-position: 100% 50%;
    transform: scale(.99);

  }
  100% {
    background-position: 0 50%;
    transform: scale(1);
  }
};

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};
