@import './variables.scss';
@import './functions.scss';

html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;

	@include responsive() {
		&::-webkit-scrollbar {
			width: get-vw(8px, "desktop");
			background: $color-primary;
		}
		
		&::-webkit-scrollbar-track {
			border-radius: 8px;
			border: 1px solid $color-neutro-600;
			background-color: $color-white-200;
		}
		
		&::-webkit-scrollbar-thumb {
			border-radius: 8px;
			background-color: $color-primary-bold;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;	
}

body {
	background-color: $color-white;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	position: relative;
	scroll-behavior: smooth;
}

input {
	&:focus {
		outline: none;
	}
}

select {
	&:focus {
		outline: none;
	}
	&:hover{
		cursor: pointer;
	}
}

button {
	&:hover{
		cursor: pointer;
	}
}

:root {
	--swiper-pagination-color: #1A1A1A;
	--swiper-pagination-bullet-size: 6px;
	--swiper-pagination-bullet-width: 6px;
	--swiper-pagination-bullet-height: 6px;
	@include responsive() {
		--swiper-pagination-bullet-size: 9px;
		--swiper-pagination-bullet-width: 9px;
		--swiper-pagination-bullet-height: 9px;
	}
}
