// Fonts
$primary-font: var(--raleway);
$secondary-font: var(--quicksand);
$tertiary-font: var(--permanent-marker);

// Colors
$color-primary-light: #c9bbd8;
$color-primary: #894AE0;
$color-primary-bold: #6833A1;
$color-secondary:#6CC309;
$color-tertiary: #F1B708;
$color-black: #1A1A1A;
$color-shadow:rgba(0, 0, 0, 0.16);
$color-shadow-bold:rgba(0, 0, 0, 0.5);
$color-grey: #737B7D;
$color-green: #4BB747;


// white
$color-white: #ffffff;
$color-white-200: #e4e3e3;
$color-white-300: #F8F8F8;


// neutros
$color-neutro-100: #d9dbe9;
$color-neutro-200: #edf8ed;
$color-neutro-300: #a0a3bd;
$color-neutro-400: #918ea0;
$color-neutro-500: #707c8e;
$color-neutro-600: #777777;
$color-neutro-700: #9FA4A6
