// Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

// Colors
$color-primary-light: #c9bbd8;
$color-primary: #894ae0;
$color-primary-bold: #6833a1;
$color-secondary: #6cc309;
$color-yellow: #f1b708;
$color-black: #1a1a1a;
$color-shadow: rgba(0, 0, 0, 0.16);
$color-grey: #737B7D;

$color-green: #4BB747;

// white
$color-white: #ffffff;
$color-white-200: #e4e3e3;
$color-white-300: #F8F8F8;


// neutros
$color-neutro-100: #d9dbe9;
$color-neutro-200: #edf8ed;
$color-neutro-300: #a0a3bd;
$color-neutro-400: #918ea0;
$color-neutro-500: #707c8e;
$color-neutro-600: #777777;
$color-neutro-700: #9FA4A6
