@import '@/styles/commons.scss';

#container {
    position: relative;
    padding: get-vw(25px) get-vw(15px);

    @include responsive() {
        padding: get-vw(170px, 'desktop') get-vw(115px, 'desktop');
    }

    h2 {
        font-size: get-vw(25px);
        line-height: get-vw(30px);
        font-weight: bold;
        color: $color-black;
        margin-bottom: 0;
        text-align: center;

        @include responsive() {
            font-size: get-vw(40px, 'desktop');
            line-height: get-vw(47px, 'desktop');
            br {
                display: none;
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: get-vw(15px);

        @include responsive() {
            gap: get-vw(80px, 'desktop');
        }
    }

    .image {
        position: relative;
        min-width: get-vw(172px);
        width: get-vw(172px);
        height: get-vw(210px);

        @include responsive() {
            min-width: get-vw(369px, 'desktop');
            width: get-vw(369px, 'desktop');
            height: get-vw(449px, 'desktop');
        }
    }

    .swiperContainer {
        padding-top: get-vw(35px);
        position: relative;
        @include flexCenter();
        @include responsive() {
            padding-top: get-vw(45px, 'desktop');
        }

        .nextButton, .prevButton {
            width: get-vw(20px);
            height: get-vw(20px);
            position: absolute;
            box-shadow: 0px 1.71073px 6.84293px rgba(0, 0, 0, 0.16);
            border-radius: 100%;
            @include flexCenter();
            z-index: 10;
            background-color: $color-white;

            @include responsive() {
                width: get-vw(64px, 'desktop');
                height: get-vw(64px, 'desktop');
            }

            .arrow {
                position: relative;
                width: get-vw(10px);
                height: get-vw(10px);

                @include responsive() {
                    width: get-vw(32px, 'desktop');
                    height: get-vw(32px, 'desktop');
                }
            }
        }
        .nextButton {
            right: 0;
        }

        .prevButton {
            left: 0;
            .arrow {
                transform: rotate(180deg);
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding-top: get-vw(20px);
        padding-bottom: get-vw(30px);

        @include responsive() {
            padding-top: get-vw(40px, 'desktop');
            padding-bottom: get-vw(50px, 'desktop');
        }
        
        h3 {
            font-size: get-vw(20px);
            line-height: get-vw(23px);
            font-weight: normal;
            color: $color-black;
            margin-bottom: get-vw(30px);
            width: 90%;
    
            @include responsive() {
                font-size: get-vw(40px, 'desktop');
                line-height: get-vw(50px, 'desktop');
                margin-bottom: get-vw(27px, 'desktop');
            }

            span {
                font-family: 'Palanquin', sans-serif;
            }
        }

        .quote {
            font-size: get-vw(71px);
            line-height: get-vw(20px);
            font-weight: 400;
            font-family: 'Palanquin', sans-serif;

            @include responsive() {
                font-size: get-vw(150px, 'desktop');
                line-height: get-vw(20px, 'desktop');
            }
        }

        p {
            font-size: get-vw(12px);
            line-height: get-vw(14px);
            font-weight: 400;

            &:last-child {
                color: $color-neutro-600;
            }
    
            @include responsive() {
                font-size: get-vw(24px, 'desktop');
                line-height: get-vw(28px, 'desktop');
                margin-bottom: get-vw(6px, 'desktop');;

                &:last-child {
                    font-size: get-vw(18px, 'desktop');
                    line-height: get-vw(21px, 'desktop');
                }
            }
        }
    
    }
}