@import '@/styles/commons.scss';

.button {
    background-color: $color-black;
    border-radius: get-vw(96px);
    padding: get-vw(12px) get-vw(24px);
    border: none;
    color: $color-white;
    font-weight: 600;
    font-size: get-vw(13px);
    line-height: get-vw(15px);
    
    @include responsive() {
        border-radius: get-vw(128px, 'desktop');
        padding: get-vw(16px, 'desktop') get-vw(32px, 'desktop');
        font-size: get-vw(18px, 'desktop');
        line-height: get-vw(21px, 'desktop');
    }

    &:active {
        box-shadow: inset 0px 0px 13px 0px $color-neutro-600;
    }
}


.secundary {
    background: transparent;
    padding: get-vw(10px) get-vw(8px);
    border: get-vw(2px) solid $color-primary;
    color: $color-primary;

    @include responsive() {
        padding: get-vw(17px, 'desktop');
        border-width: get-vw(2px, 'desktop');
    }
}

.square-green, .square-white {
    border-radius: get-vw(6px);
    padding: get-vw(14px) get-vw(22px);
    min-width: get-vw(125px);
}

.square-green {
    background-color: $color-primary;
}

.square-white {
    background: transparent;
    color: $color-black;
    box-shadow: 0px 0.990071px 2.97021px rgba(0, 0, 0, 0.16);
}