@import '@/styles/commons.scss';

.container{
    
    >header{
        div{
            
          img {
              margin-left: 6px;
              height:50px !important;
              width:50px !important;
            }
            
            &::after{
                right: 14px !important;
            }
        }
    }
    
    >div{
        overflow-x: auto !important;
        
        >div{
            max-width: calc(100% - get-vw(120px)) !important;

            @include responsive() {
                max-width: calc(100% - get-vw(120px, "desktop")) !important;
            }
        }
  }
}
