@import '@/styles/commons.scss';

.menu {
    position: relative;
    display: block;
    overflow: scroll;
    z-index: 100;
    width: get-vw(335px);
    height: auto;
    background-color: $color-neutro-200;
    padding: get-vw(90px) get-vw(30px) get-vw(45px) get-vw(35px);
    border-radius: get-vw(12px) 0 0 get-vw(12px);
    min-height: get-vw(379px);
    background-image: url(/icons/VectorMenu.svg);
    background-position-y: bottom;
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px $color-neutro-600;

    @include responsive() {
        display: none;
    }

    .header {
        @include flexCenter() {
            justify-content: flex-start;
            gap: get-vw(15px);
        }
        margin-bottom: get-vw(20px);

        .profile {
            position: relative;
            width: get-vw(33px);
            height: get-vw(33px);;
        }

        h2 {
            font-size: get-vw(24px);
            line-height: get-vw(36px);
            font-weight: 700;
            color: $color-black;
            margin-bottom: get-vw(9px);

        }

        p {
            font-family: $secondary-font;
            font-size: get-vw(12px);
            line-height: get-vw(15px);
            font-weight: 600;
            color: $color-neutro-600;

        }
    }

    .buttonsContainer {
        margin-bottom: get-vw(40px);
        @include flexCenter() {
            justify-content: flex-start;
            gap: get-vw(17px);
        }
        white-space: nowrap;
    }

    .link {
        text-decoration: none;
        @include flexCenter() {
            justify-content: flex-start;
            gap: get-vw(11px);
        };
        color: $color-black;
        margin-bottom: get-vw(27px);
        &:last-child {
            margin: 0;
        }
    }

    .home {
        position: relative;
        width: get-vw(25px);
        height: get-vw(25px);;
    }

    .help {
        position: relative;
        width: get-vw(27px);
        height: get-vw(27px);;
    }
}

.slideIn {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -webkit-perspective: 300px;
    perspective: 300px;
    position: fixed !important;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.slideOut {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    position: fixed !important;
    top: 0px;
    right: -20px;
    z-index: 1;
}
