@import '@/styles/commons.scss';

#container {
    background: $color-primary;
    height: get-vw(400px);
    position: relative;
    padding: get-vw(15px) get-vw(28px);

    @include responsive() {
        padding: get-vw(90px, 'desktop') get-vw(120px, 'desktop');
        height: get-vw(520px, 'desktop');
    }

    .image {
        position: absolute;
        bottom: 0;
        right: get-vw(18px);
        width: get-vw(167px);
        height: get-vw(274px);
        filter: drop-shadow( 20px -5px 6px $color-shadow);

        @include responsive() {
            right: get-vw(111px, 'desktop');
            width: get-vw(314px, 'desktop');
            height: get-vw(516px, 'desktop');
        }
    }

    h1 {
        font-size: get-vw(25px);
        line-height: get-vw(50px);
        font-weight: bold;
        color: $color-white;
        margin-bottom: get-vw(17px);

        @include responsive() {
            font-size: get-vw(40px, 'desktop');
            line-height: get-vw(50px, 'desktop');
            margin-bottom: get-vw(23px, 'desktop');
        }
    }

    p {
        font-family: $secondary-font;
        width: get-vw(240px);
        color: $color-white;
        font-size: get-vw(16px);
        line-height: get-vw(35px);
        margin-bottom: get-vw(40px);

        @include responsive() {
            width: get-vw(690px, 'desktop');
            font-size: get-vw(20px, 'desktop');
            line-height: get-vw(35px, 'desktop');
            margin-bottom: get-vw(35px, 'desktop');
        }
    }

    button {
        margin-left: get-vw(50px);

        @include responsive() {
            margin: 0;
        }
    }
}